<mat-progress-bar [value]="uploadProgress | async"></mat-progress-bar>
<div class="container">
  <div class="item">
    Progress: {{ uploadProgress | async }}
  </div>
  <div class="item">
    <span style="color: grey; font-size: .8em">
      {{ uploadURL |async }}
    </span>
  </div>
  <div class="item">
    <input #inputFile class="hidden" type="file" (change)="upload($event)" accept=".png,.jpg">
    <button mat-raised-button color="primary" (click)="inputFile.click()">Upload</button>
  </div>
</div>
