.container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .item {
    padding: 24px;
    margin: 0 auto;
  }
}

.hidden {
  display: none;
}

a {
  color: #1976D2;
  font-size: .8em;
  margin-top: 16px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
